.lotto-container {
  margin: 40px 0;
}

.lotto-title {
  color: orange;
  text-align: center;
  margin-bottom: 40px;
}

.lotto-box {
  display: flex;
  justify-content: center;
}

.lotto-num {
  border: 1px solid black;
  padding: 36px;
  font-weight: bold;
  font-size: 20px;
}

.controll-box {

  margin-top: 20px;
  text-align: center;


}

.bg-pink {
  background-color: rgb(243, 171, 195);
}

