/* 여기저기서 사용될 UI 요소 스타일 */
  
  
  .input-box{
  
    display: flex;
    width: 60%; /*600*/
    height: 60px;
    margin: auto;
    margin-bottom: 40px;  
    /*  */
  }
  
  
  .input-text{
  
    width: 80%; /*480*/
    border: 2px solid pink;
    outline: none;
    padding: 4px;
    font-size: 20px;
  
  }
  
  .input-btn
  {
    flex-grow: 1;
    background-color: pink;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .data{
    width: 60%;
    margin: auto;
    display: flex;
  }
  
  .data-date{
    width: 100px;
  }
  
  .data-box{
    margin: 40px 0;
  }

