/* 여기저기서 사용될 UI 요소 스타일 */

.container {
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  margin: auto;
}

.btn {

  padding: 8px 16px;
  background-color: pink;
  color: white;
  cursor: pointer;
  font-weight: bold;

}
